[core]
	excludesfile = /Users/cfeduke/.gitignore_global
	autocrlf = input
	safecrlf = true
[user]
	name = Charles Feduke
	email = charles.feduke@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p